*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.container{
	box-sizing: border-box;
	width: 100%;
	min-height: 100vh;
	padding-left: 8%;
	padding-right: 8%;
	overflow: hidden;
}
.navbar{
	width: 100%;
	display: flex;
	align-items: center;
	position: relative;
}
.logo{
	width: 50px;
	cursor: pointer;
	margin: 30px 0;
}
.menu-icon{
	width: 25px;
	cursor: pointer;
	display: none;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-right: 30px;
}
nav ul li a{
	text-decoration: none;
	color: #000;
}
nav ul li a:hover{
	color: #ff5ea2;
}
.row{
	margin: 100px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.col-1{
	flex-basis: 40%;
	margin-left: 50px;    /* 50pxÊÇžéÁËÒª¸úlogoŒ¦ýR */
	position: relative;
}
.col-1::after{
	content: '';
	width: 10px;
	height: 57%;
	position: absolute;
	top: 8px;
	left: -40px;
	background-image: linear-gradient(#ff496f, #ff6062);
}
.col-1 h1{
	font-size: 54px;
}
.col-1 h2{
	font-size: 30px;
	color: #707070;
	font-weight: 100;
	margin: 20px 0 10px;   /* ÒªÊ¡code¾Í°ÑmarginŒ‘ÔÚÖÐég */
}
.col-1 p{
	font-size: 16px;
	font-weight: 100;
	color: #b7b7b7;
}
.col-1 h4{
	margin: 30px 0;
	font-size: 20px;
}
.col-1 button{
	width: 140px;
	color: #fff;
	padding: 12px 10px;
	border: none;
	border-radius: 6px;
	background-color: transparent;
	background-image: linear-gradient(to right, #fb5283, #ff3527);
	outline: none;
	cursor: pointer;
	transition: width .5s;
}
.col-1 button img{
	width: 30px;
	display: none;
}
.col-1 button:hover{
	width: 160px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.col-1 button:hover img{
	display: block;
}
.col-2{
	flex-basis: 60%;
	position: relative;
	display: flex;
	align-items: center;
}
.col-2 .controller{
	width: 90%;
}
.col-2 .color-box{
	position: absolute;
	top: 0;
	right: 0;
	width: 80%;
	height: 100%;
	background-image: linear-gradient( #ff54a2, #ff575a);
	border-radius: 20px 0 0 20px;
	z-index: -1;
	transform: translateX(150px);
}
.col-2 .add-btn{
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.col-2 .add-btn img{
	width: 35px;
	margin-bottom: 5px;
}
.social-link{
	text-align: center;
}
.social-link img{
	height: 13px;
	margin: 20px;
	cursor: pointer;
}


@media only screen and (max-width:700px){
	.container{
		/* padding: 0; */
	}
	nav ul{
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-image: linear-gradient( #ff54a2, #ff575a);
		overflow: hidden;
		transition: max-height .5s;
		z-index: 1;
	}
	nav ul li{
		display: block;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	nav ul li a{
		color: #fff;
	}
	.menu-icon{
		display: block;
	}
	.row{
		margin: 50px 0;
		flex-direction: column-reverse;
	}
	.col-2{
		flex-basis: 100%;
		margin-bottom: 50px;  
	}
	.col-2 .controller{
		width: 77%;
	}
	.col-2 .color-box{
		transform: translateX(75px);
	}

	.col-1{
		flex-basis: 100%;
	}
	.col-1 h1{
		font-size: 35px;
	}
	.col-1 h2{
		font-size: 15px;
	}
}